@{
    ViewData["Title"] = "Confirmation de l'email";
}

<main role="main">
    <div class="container">
        <div class="confirmation-message">
            <img src="~/images/casual-life-3d-beagle-dog-sitting-3.png" alt="Illustration 3d d'un chiot"/>
            <section>
                <h1>Email Confirmé !</h1>
                <p>Votre adresse email a été confirmée avec succès.</p>
                <p>Vous pouvez maintenant vous connecter à votre compte et profiter de toutes les fonctionnalités de Pawesome.</p>
            </section>
            <div class="confirmation-actions">
                <a class="button" asp-controller="Auth" asp-action="Login">Se connecter</a>
                <a class="button" data-variant="secondary" asp-controller="Home" asp-action="Index">Retour à l'accueil</a>
            </div>
        </div>
    </div>
</main>