@{
    ViewData["Title"] = "Email de réinitialisation envoyé";
}

<main role="main">
  <section class="confirmation-message">
    <img src="~/images/3d-casual-life-cat-on-books-plant.png" alt="Illustration 3d d'un chat sur un livre"/>
    <h1>Email envoyé</h1>
    <div>
      <p>Si vous avez un compte avec cette adresse email, nous vous avons envoyé un lien pour réinitialiser votre mot de passe.</p>
      <p>Veuillez vérifier votre boîte de réception et votre dossier spam.</p>
      <p>Si vous ne recevez pas d'email dans les prochaines minutes, veuillez vérifier que l'adresse email saisie est correcte.</p>
    </div>
    <a class="button" asp-controller="Auth" asp-action="Login">Retour à la connexion</a>
  </section>
</main>