@model Pawesome.Models.ViewModels.Auth.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Mot de passe oublié";
}

<main role="main">
    <div class="forgot-page container">
        <div class="forgot-block">
            <div class="forgot-header">
                <h1>Mot de passe oublié ?</h1>
                <p>Entrez votre e-mail pour réinitialiser votre mot de passe</p>
            </div>
            @if (ViewData.ModelState.ErrorCount > 0)
            {
                <div class="alert mb-4" data-variant="error" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-ban-icon lucide-ban"><circle cx="12" cy="12" r="10"/><path d="m4.9 4.9 14.2 14.2"/></svg>
                    <div>
                        <h4>Des erreurs sont survenues</h4>
                        <div asp-validation-summary="ModelOnly"></div>
                    </div>
                </div>
            }
            <form asp-controller="Auth" asp-action="ForgotPassword" method="post">
                <div class="forgot-form">
                    <div class="form-group">
                        <label asp-for="Email">Email :</label>
                        <input asp-for="Email" type="email" class="form-control"
                               data-val="true"
                               data-val-required="L'email est requis"
                               data-val-email="Format d'email invalide" />
                        <span class="validation-message" asp-validation-for="Email"></span>
                    </div>
                    <button class="button" type="submit">Envoyer le lien de réinitialisation</button>
                    <div>
                        <p>Vous vous souvenez de votre mot de passe ? <a class="underline login-link" asp-controller="Auth" asp-action="Login">Se connecter</a></p>
                    </div>
                </div>
            </form>
        </div>
        <div class="img-block">
            <div class="img-block-bg">
                <p>Vous avez oublié quelque chose ?
                </p>
                <div class="img-div">
                    <img src="~/images/casual-life-3d-girl-holding-umbrella-and-looking-at-cat.png" alt="Girl holding umbrella and looking at cat"/>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}