@model Pawesome.Models.DTOs.ForgotPasswordDto
@{
    ViewData["Title"] = "Mot de passe oublié";
}
<div class="forgot-page">
    <div class="forgot-block">
        <div class="forgot-header">
            <h1 class="font-2xl">Mot de passe oublié ?</h1>
            <p class="font-sm">Entrez votre e-mail pour réinitialiser votre mot de passe</p>
        </div>
        <div asp-validation-summary="All"></div>
        <form asp-controller="Auth" asp-action="ForgotPassword" method="post">
            <div class="forgot-form">
                <div class="form-group">
                    <label asp-for="Email">Email :</label>
                    <input asp-for="Email" type="email"/>
                    <span asp-validation-for="Email"></span>
                </div>
                <button class="button" type="submit">Envoyer le lien de réinitialisation</button>
                <div>
                    <p>Vous vous souvenez de votre mot de passe ? <a class="login-link" asp-controller="Auth" asp-action="Login">Se connecter</a></p>
                </div>
            </div>
        </form>
    </div>
    <div class="img-block">
        <img src="~/images/casual-life-3d-girl-holding-umbrella-and-looking-at-cat.png" alt="Girl holding umbrella and looking at cat"/>
    </div>
</div>