@model Pawesome.Models.DTOs.LoginDto
@{
    ViewData["Title"] = "Connexion";
}

<h2>Connexion</h2>

<div asp-validation-summary="All"></div>

<form asp-controller="Auth" asp-action="Login" method="post">
    <div>
        <label asp-for="Email">Email :</label>
        <input asp-for="Email" type="email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label asp-for="Password">Mot de passe :</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <label>
            <input asp-for="RememberMe" type="checkbox" />
            Se souvenir de moi
        </label>
    </div>

    <div>
        <button type="submit">Connexion</button>
    </div>

    <div>
        <p>Pas encore de compte ? <a asp-controller="Auth" asp-action="Register">S'inscrire</a></p>
    </div>
</form>
