.login-page {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.login-block {
    width: 100%;
    margin: auto;
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-4);
    padding: var(--space-4);
    
}

.login-form, .login-header {
    margin: 0 10% 0 10%
}

.login-header {
    border: 3px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    border: 3px solid blue;
}

.img-block {
    border: 3px solid orange;
    height: 100%;
    width: 100%;
}
