@model Pawesome.Models.ViewModels.Auth.LoginViewModel
@{
    ViewData["Title"] = "Connexion";
}

<main role="main">
    <section class="login-page container">
        <div class="login-block">
            <div class="login-header">
                <h1>Connectez-vous</h1>
                <p>Entrez votre e-mail ci-dessous pour vous connecter à votre compte</p>
            </div>
            <form asp-controller="Auth" asp-action="Login" method="post">
                @if (ViewData.ModelState.ErrorCount > 0)
                {
                    <div class="alert login-alert" data-variant="error" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-ban-icon lucide-ban"><circle cx="12" cy="12" r="10"/><path d="m4.9 4.9 14.2 14.2"/></svg>
                        <div>
                            <h4>Des erreurs sont survenues</h4>
                            <div asp-validation-summary="ModelOnly"></div>
                        </div>
                    </div>
                }
                <input type="hidden" id="credential" name="credential"/>
                <div class="login-form">
                    <div class="form-group">
                        <label asp-for="Email">Email :</label>
                        <input asp-for="Email" type="email" class="form-control"
                               data-val="true"
                               data-val-required="L'adresse e-mail est requise"
                               data-val-email="Veuillez entrer une adresse e-mail valide"/>
                        <span class="validation-message" asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group">
                        <div class="forgot-div">
                            <label asp-for="Password">Mot de passe :</label>
                            <a class="underline forgot-link" asp-controller="Auth" asp-action="ForgotPassword">Mot de passe oublié ?</a>
                        </div>
                        <input asp-for="Password" type="password" class="form-control"
                               data-val="true"
                               data-val-required="Le mot de passe est requis"/>
                        <span class="validation-message" asp-validation-for="Password"></span>
                    </div>
                    <div class="form-label">
                        <label>
                            <input class="checkbox" asp-for="RememberMe" type="checkbox"/>
                            <span>Se souvenir de moi</span>
                        </label>
                    </div>
                    <button class="button" type="submit">Connexion</button>
                    <div>
                        <p>Pas encore de compte ? <a class="underline" asp-controller="Auth" asp-action="Register">S'inscrire</a></p>
                    </div>
                    <div class="separator">
                        <span>ou</span>
                    </div>
                    <div class="google-button">
                        <div id="g_id_onload"
                             data-client_id="293214798250-hhaj22tlc17aug4ojdmcn81li2sgkfi5.apps.googleusercontent.com"
                             data-callback="handleCredentialResponse"
                             data-context="signin"
                             data-ux_mode="popup"
                             data-auto_prompt="false">
                        </div>
                        <div class="g_id_signin"
                             data-type="standard"
                             data-shape="pill"
                             data-theme="outline"
                             data-text="signin_with"
                             data-size="large"
                             data-logo_alignment="left">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="img-block">
            <div class="img-block-bg">
                <p>Bienvenue sur <br/>
                    <strong>Pawesome</strong>
                </p>
                <div class="img-div">
                    <img src="~/images/casual-life-3d-man-sitting-with-dog-and-cup-of-coffee.png" alt="Young couple with pet"/>
                </div>
            </div>
        </div>
    </section>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script>
        function handleCredentialResponse(response) {
            document.getElementById('credential').value = response.credential;
            document.forms[0].submit();
        }
    </script>
}