@model Pawesome.Models.DTOs.RegisterDto
@{
    ViewData["Title"] = "Inscription";
}

<main role="main">
    <div class="register-page container">
        <div class="img-block">
            <div class="img-block-bg">
                <p>Toujours pas sur <br/>
                    <strong>Pawesome ?</strong>
                </p>
                <div class="img-div">
                    <img src="~/images/casual-life-3d-woman-taking-funny-photo-with-dog.png" alt="Woman taking funny photo with dog"/>
                </div>
            </div>
        </div>
        <div class="register-block">
            <div class="register-header">
                <h1 class="font-2xl">Créez votre compte</h1>
                <p class="font-sm">Remplissez le formulaire ci-dessous pour vous inscrire</p>
            </div>
            <form asp-controller="Auth" asp-action="Register" method="post">
                <div class="register-form">
                    <div class="form-group">
                        <label asp-for="FirstName">Prénom :</label>
                        <input asp-for="FirstName" type="text"/>
                        <span class="validation-message" asp-validation-for="FirstName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName">Nom :</label>
                        <input asp-for="LastName" type="text"/>
                        <span class="validation-message" asp-validation-for="LastName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email">Email :</label>
                        <input asp-for="Email" type="email"/>
                        <span class="validation-message" asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">Mot de passe :</label>
                        <input asp-for="Password" type="password"/>
                        <span class="validation-message" asp-validation-for="Password"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword">Confirmer le mot de passe :</label>
                        <input asp-for="ConfirmPassword" type="password"/>
                        <span class="validation-message" asp-validation-for="ConfirmPassword"></span>
                    </div>
                    <button class="button" type="submit">S'inscrire</button>
                    <div>
                        <p>Déjà inscrit ? <a class="underline login-link" asp-controller="Auth" asp-action="Login">Se connecter</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}