@model Pawesome.Models.DTOs.ResetPasswordDto

<div>
    <div>
        <div>
            <h3>Réinitialisation de mot de passe</h3>
        </div>
        <div>
            <form asp-action="ResetPassword" method="post">
                <div asp-validation-summary="All"></div>
                <input asp-for="Email" type="hidden" />
                <input asp-for="Code" type="hidden" />
                <div>
                    <label asp-for="Password">Nouveau mot de passe</label>
                    <input asp-for="Password" type="password" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div>
                    <label asp-for="ConfirmPassword">Confirmer le mot de passe</label>
                    <input asp-for="ConfirmPassword" type="password" />
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
                <button type="submit">Réinitialiser</button>
            </form>
        </div>
    </div>
</div>