@{
    ViewData["Title"] = "Mot de passe réinitialisé";
}

<div>
    <div>
        <div>
            <h1>Mot de passe réinitialisé</h1>
        </div>
        <div>
            <p>
                Votre mot de passe a été réinitialisé avec succès.
            </p>
            <p>
                Vous pouvez maintenant vous connecter avec votre nouveau mot de passe.
            </p>
            <div>
                <a asp-controller="Auth" asp-action="Login" >Se connecter</a>
            </div>
        </div>
    </div>
</div>