main {
    height: 100vh;
    display: grid;
    place-items: center;
}

.confirmation-message {
    display: grid;
    place-items: center;
    text-align: center;
    gap: var(--space-4);
}

.confirmation-message h1 {
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-1);
}

.confirmation-message p {
    color: var(--color-primary-11);
}

.confirmation-message a {
    display: inline-block;
    margin-top: var(--space-4);
    font-weight: var(--font-weight-medium);
    color: var(--color-primary-12);
    text-decoration: underline;
}