<main role="main">
    <section class="confirmation-message">
        <img src="~/images/3d-casual-life-cat-with-books-and-mouse.png" alt="Illustration 3d d'un chat qui lit un livre"/>
        <h1>Mot de passe réinitialisé</h1>
        <div>
            <p>
                Votre mot de passe a été réinitialisé avec succès.
            </p>
            <p>
                Vous pouvez maintenant vous connecter avec votre nouveau mot de passe.
            </p>
        </div>
        <a class="button" asp-controller="Auth" asp-action="Login">Se connecter</a>
    </section>
</main>