.forgot-link, .login-link, .login-form div a {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    color: var(--color-primary-12);
}

.logo {
    position: absolute;
    top: var(--space-4);
    left: var(--space-11);
}

.auth-theme-toggle {
    position: absolute;
    top: var(--space-4);
    right: var(--space-11);
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--color-primary-12);
    border-radius: var(--radius-full);
}

.auth-theme-toggle:hover {
    background-color: var(--color-primary-3);
}

.confirmation-message>img {
    margin: 0 auto;
}

.lucide-sun-icon {
    display: none;
}

.lucide-moon-icon {
    display: block;
}

body.dark .lucide-sun-icon {
    display: block;
}

body.dark .lucide-moon-icon {
    display: none;
}

@media (max-width: 768px) {
    .logo {
        top: var(--space-6);
        left: var(--space-6);
    }
    
    .auth-theme-toggle {
        top: var(--space-6);
        right: var(--space-6);
    }
}