.date {
    padding: 0;
    position: relative;
    width: var(--space-6);
    height: var(--space-6);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-sm);
    font-weight: 600;
    border: 2px solid transparent;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-primary-12);
}

.date.start-date {
    background-color: var(--color-primary-12);
    color: var(--color-primary-1);
}

.date.end-date {
    background-color: var(--color-primary-12);
    color: var(--color-primary-1);
}

.date.in-range {
    background-color: var(--color-primary-10);
    color: var(--color-primary-1);
}

.date:focus{
    outline: 0;
    border: 2px solid var(--color-primary-12);
}