:root {
    /* Typography */
    --font-primary: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    --font-secondary: 'Ubuntu', system-ui, sans-serif;

    /* Font sizes */
    --font-size-xs: 0.75rem; /* 12px */
    --font-size-sm: 0.875rem; /* 14px */
    --font-size-md: 1rem; /* 16px */
    --font-size-lg: 1.125rem; /* 18px */
    --font-size-xl: 1.25rem; /* 20px */
    --font-size-2xl: 1.5rem; /* 24px */
    --font-size-3xl: 1.875rem; /* 30px */
    --font-size-4xl: 2.25rem; /* 36px */
    --font-size-5xl: 2.5rem; /* 40px */
    --font-size-6xl: 3rem; /* 48px */
    --font-size-7xl: 3.75rem; /* 60px */
    --font-size-8xl: 4.5rem; /* 72px */
    --font-size-9xl: 6rem; /* 96px */
    --font-size-10xl: 7.5rem; /* 120px */

    /* Font weights */
    --font-weight-regular: 400; /* Normal */
    --font-weight-medium: 500; /* Medium */
    --font-weight-bold: 700; /* Bold */

    /* Colors */
    --color-primary-1: #FEFDFC;
    --color-primary-2: #FCF9F6;
    --color-primary-3: #F6EEE7;
    --color-primary-4: #F0E4D9;
    --color-primary-5: #EBDACA;
    --color-primary-6: #E4CDB7;
    --color-primary-7: #DCBC9F;
    --color-primary-8: #CEA37E;
    --color-primary-9: #AD7F58;
    --color-primary-10: #A07553;
    --color-primary-11: #815E46;
    --color-primary-11-transparent: #815E467D;
    --color-primary-12: #3E332E;

    --color-error: #FEEBEC;
    --color-error-border: #FFCDCE;
    --color-error-solid: #E5484D;
    --color-error-foreground: #CE2C31;

    --color-warning: #FFF7C2;
    --color-warning-border: #FFED8A;
    --color-warning-foreground: #AB6400;

    --color-success: #E6F6EB;
    --color-success-border: #C4E8D1;
    --color-success-foreground: #218358;

    --color-info: #EDF2FE;
    --color-info-border: #D2DEFF;
    --color-info-foreground: #3A5BC7;
    
    --color-crimson: #FFE9F0;
    --color-crimson-border: #FACEDD;
    --color-crimson-foreground: #CB1D63;

    --color-lime: #EEF6D6;
    --color-lime-border: #D3E7A6;
    --color-lime-foreground: #5C7C2F;
    
    --color-purple: #F7EDFE;
    --color-purple-border: #EAD5F9;
    --color-purple-foreground: #8145B5;

    --color-orange: #FFEFD6;
    --color-orange-border: #FFD19A;
    --color-orange-foreground: #CC4E00;
    
    --color-sky: #E1F6FD;
    --color-sky-border: #BEE7F5;
    --color-sky-foreground: #00749E;
    
    --color-yellow-solid: #FFE629;

    /* Spacing */
    --space-1: 0.25rem; /* 4px */
    --space-2: 0.5rem; /* 8px */
    --space-3: 0.75rem; /* 12px */
    --space-4: 1rem; /* 16px */
    --space-5: 1.5rem; /* 24px */
    --space-6: 2rem; /* 32px */
    --space-7: 2.5rem; /* 40px */
    --space-8: 3rem; /* 48px */
    --space-9: 3.5rem; /* 56px */
    --space-10: 4rem; /* 64px */
    --space-11: 5rem; /* 80px */
    --space-12: 6rem; /* 96px */
    --space-13: 6.5rem; /* 104px */
    --space-14: 7rem; /* 112px */
    --space-16: 8rem; /* 128px */
    --space-18: 9rem; /* 144px */
    --space-19: 10rem; /* 160px */
    --space-20: 11rem; /* 176px */

    /* Border radius */
    --radius-sm: 0.125rem; /* 2px */
    --radius-md: 0.25rem; /* 4px */
    --radius-lg: 0.5rem; /* 8px */
    --radius-xl: 1rem; /* 16px */
    --radius-2xl: 1.5rem; /* 24px */
    --radius-3xl: 2rem; /* 32px */
    --radius-4xl: 2.5rem; /* 40px */
    --radius-5xl: 3rem; /* 48px */
    --radius-full: 9999px;

    /* Letter spacing */
    --letter-spacing-1: 0.025em; /* 0.4px */
    --letter-spacing-2: 0.05em; /* 0.8px */
    --letter-spacing-3: 0.1em; /* 1.6px */
    --letter-spacing-4: 0.15em; /* 2.4px */
    --letter-spacing-5: 0.2em; /* 3.2px */
    --letter-spacing-6: 0.25em; /* 4px */

    /* Shadows */
    --shadow-color: 30deg 13% 63%;
    --shadow-sm:
            0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
            0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
            1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-md:
            0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
            0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
            2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
            5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-lg:
            0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
            1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
            2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
            4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
            7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
            11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
            17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
            25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);

    /* Breakpoints */
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;

    --transition: all 0.3s ease;
}

.dark {
    --color-primary-1: #12110F;
    --color-primary-2: #1C1816;
    --color-primary-3: #28211D;
    --color-primary-4: #322922;
    --color-primary-5: #3E3128;
    --color-primary-6: #4D3C2F;
    --color-primary-7: #614A39;
    --color-primary-8: #7C5F46;
    --color-primary-9: #AD7F58;
    --color-primary-10: #B88C67;
    --color-primary-11: #DBB594;
    --color-primary-12: #F2E1CA;

    --color-error: #3B1219;
    --color-error-border: #611623;
    --color-error-solid: #E5484D;
    --color-error-foreground: #FF9592;

    --color-warning: #302008;
    --color-warning-border: #4D3000;
    --color-warning-foreground: #FFCA16;

    --color-success: #132D21;
    --color-success-border: #174933;
    --color-success-foreground: #3DD68C;

    --color-info: #182449;
    --color-info-border: #253974;
    --color-info-foreground: #9EB1FF;

    --color-crimson: #381525;
    --color-crimson-border: #5C1839;
    --color-crimson-foreground: #FF92AD;
    
    --color-lime: #1F2917;
    --color-lime-border: #334423;
    --color-lime-foreground: #BDE56C;

    --color-purple: #301C3B;
    --color-purple-border: #48295C;
    --color-purple-foreground: #D19DFF;
    
    --color-orange: #331E0B;
    --color-orange-border: #562800;
    --color-orange-foreground: #FFA057;

    --color-sky: #112840;
    --color-sky-border: #154467;
    --color-sky-foreground: #75C7F0;
    
    --color-yellow-solid: #FFE629;

    --shadow-color: 30deg 13% 13%;
    --shadow-sm:
            0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.5),
            0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.5),
            1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.5);
    --shadow-md:
            0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.55),
            0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.55),
            2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.55),
            5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.55);
    --shadow-lg:
            0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.5),
            1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.5),
            2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.5),
            4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.5),
            7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.5),
            11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.5),
            17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.5),
            25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.5);
}