@{
Layout = "_Layout";
}

<main role="main" class="messaging-container container">
    <div class="conversations-sidebar">
        @if (ViewBag.ConversationsViewModel != null)
        {
            @await Html.PartialAsync("Message/_ConversationsList", (object)ViewBag.ConversationsViewModel)
            }
        else
        {
        @await Html.PartialAsync("Message/_ConversationsList", (object)Model)
        }
    </div>
    <div class="selected-conversation">
        @RenderBody()
    </div>
</main>


@section Scripts {
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/messageClient.js"></script>
}