<footer class="footer">
    <div class="footer-container">
        <div class="footer-column">
            <h1>Pawesome</h1>
            <p>&copy;2025 Copyright by Pawesome, Inc.</p>
            <div class="privacy-policy">
                <a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a>
            </div>
        </div>

        <div class="footer-column">
            <h2>Produit</h2>
            <a href="#">Login</a>
            <a href="#">Prix</a>
            <a href="#">Partenaire</a>
        </div>

        <div class="footer-column">
            <h2>A propos de nous</h2>
            <a href="#">A propos de Pawesome</a>
            <a href="#">Contacter nous</a>
            <a href="#">Fonctionnalités</a>
        </div>

        <div class="footer-column">
            <h2>Ressources</h2>
            <a href="#">Centre d'aide</a>
            <a href="#">État du serveur</a>
            <a href="#">Blog</a>
        </div>

        <div class="footer-column">
            <h2>Donner votre touche</h2>
            <p>Une question ou un commentaire ?<br>Nous aimerions avoir de vos nouvelles...</p>
            <div class="social-icons">
                <a href="#"><img src="svg/lucide/Facebook.svg" alt="Facebook"></a>
                <a href="#"><img src="svg/lucide/X.svg" alt="X"></a>
                <a href="#"><img src="svg/lucide/Indeed.svg" alt="LinkedIn"></a>
            </div>
        </div>
    </div>
</footer>