.landing-card {
    position: relative;
    width: 300px;
    height: auto;
    text-align: start;
    background-color: var(--color-primary-2);
    border-radius: 15px;
    box-shadow: var(--shadow-md);
    overflow: hidden;
    z-index: 10;
}

.landing-card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.landing-card-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 16px;
}

.landing-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-4);
    margin-bottom: 2px;
}

.paw-icon {
    width: 20px;
    height: 20px;
    transform: rotate(-180deg);
}

.paw-icon svg,
.paw-icon path {
    stroke: var(--color-primary-12);
    fill: var(--color-primary-12);
}

.landing-card-title {
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-regular);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-2);
}

.landing-card-type {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    color: rgb(0, 0, 0, 1);
    background-color: var(--color-primary-1);
    padding: 2px 6px;
    border-radius: 15px;
}

.landing-card-location {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    color: var(--color-primary-12);
    margin-bottom: 6px;
}
    
.location-icon {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.location-icon svg,
.location-icon path {
    stroke: var(--color-primary-12);
    fill: var(--color-primary-12);
}

.landing-card-description {
    font-size: var(--font-size-sm);
    color: var(--color-primary-12);
}
