@model ErrorViewModel
@{
    ViewData["Title"] = "Page introuvable";
}

<main role="main" class="container">
    <div class="not-found-container">
        <h1 class="not-found-title">404</h1>
        <h2 class="not-found-subtitle">Page introuvable</h2>
        <p class="not-found-text">La page que vous recherchez n'existe pas ou a été déplacée.</p>
        <a asp-controller="Home" asp-action="Index" class="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-house-icon lucide-house"><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/><path d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/></svg>
            Retour à l'accueil
        </a>
    </div>
</main>