@page

<div class="testimonial">
    <div class="testimonial-container">
        <img alt="mini-profile" src="images/persona/guys_1.jpg"/>
        <div class="testimonial-name">
            <span>Chloé Culigan</span>
            <p>il y a 2 mois</p>
        </div>
    </div>
    <div class="stars-container">
        @{
            for (int i = 0; i < 5; i++)
            {
                <img alt="star" class="star" src="svg/lucide/star.svg"/>
            }
        }
    </div>
    <p>Une expérience parfaite du début à la fin. Mon chat Simba a été choyé comme un roi. Le service était vraiment impeccable !</p>
</div>