.badge {
    display: inline-flex;
    align-items: center;
    border-radius: var(--radius-full);
    border: 1px solid transparent;
    padding: 0.125rem 0.625rem;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-bold);
    outline: none;
    background-color: var(--color-primary-12);
    color: var(--color-primary-1);
    width: max-content;
}

.badge[data-variant='secondary'] {
    border: 1px solid transparent;
    background-color: var(--color-primary-5);
    color: var(--color-primary-12);
    transition: background-color 0.3s ease;
}

.badge[data-variant='secondary']:focus {
    border-width: 2px;
    border-color: var(--color-primary-9);
    box-shadow: 0 0 0 3px var(--color-primary-7);
}

.badge[data-variant='error'] {
    border: 1px solid transparent;
    background-color: var(--color-error);
    color: var(--color-error-foreground);
}

.badge[data-variant='error']:hover {
    background-color: #A52700;
}

.badge[data-variant='error']:focus {
    background-color: #BD2C00;
}

.badge[data-variant='outline'] {
    color: var(--color-primary-12);
    background-color: transparent;
    border: 1px solid var(--color-primary-6);
}

.badge[data-variant='outline']:hover {
    background-color: var(--color-primary-3);
}

.badge[data-variant='Chat'] {
    background-color: var(--color-crimson);
    color: var(--color-crimson-foreground);
}

.badge[data-variant='Chien'] {
    background-color: var(--color-orange);
    color: var(--color-orange-foreground);
}

.badge[data-variant='Oiseau'] {
    background-color: var(--color-sky);
    color: var(--color-sky-foreground);
}

.badge[data-variant='Rongeur'] {
    background-color: var(--color-lime);
    color: var(--color-lime-foreground);
}
