.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: var(--radius-full);
    font-weight: 600;
    background-color: var(--color-primary-12);
    color: var(--color-primary-1);
    padding: 0.792rem 1.25rem;
    transition: all 0.2s ease;
    line-height: 1.2;
    outline: none;
    border: none;
}

.button:hover {
    cursor: pointer;
    background-color: color-mix(in srgb, var(--color-primary-12) 80%, transparent);
}

.button:focus-visible {
    box-shadow: 0 0 0 2px var(--color-primary-8);
}

.button:disabled {
    pointer-events: none;
    opacity: 0.6;
}

.button[data-variant='destructive'] {
    background-color: var(--color-error);
    color: var(--color-error-foreground);
}

.button[data-variant='destructive']:hover {
    background-color: color-mix(in srgb, var(--color-error) 80%, transparent);
}

.button[data-variant='outline'] {
    background-color: transparent;
    border: 1px solid var(--color-primary-8);
    color: var(--color-primary-12);
}

.button[data-variant='outline']:hover {
    background-color: var(--color-primary-3);
    color: var(--color-primary-11);
}

.button[data-variant='secondary'] {
    background-color: var(--color-primary-5);
    color: var(--color-primary-12);
}

.button[data-variant='secondary']:hover {
    background-color: var(--color-primary-6);
}

.button[data-variant='ghost'] {
    background-color: transparent;
    border: none;
    color: var(--color-primary-12);
}

.button[data-variant='ghost']:hover {
    background-color: var(--color-primary-3);
}

.button[data-variant='link'] {
    color: var(--color-primary-10);
    background-color: transparent;
    text-decoration: none;
    border: none;
    padding: 0;
    height: auto;
    width: auto;
    font-weight: var(--font-weight-medium);
}

.button[data-variant='link']:hover {
    color: var(--color-primary-9);
    text-decoration: underline;
}

.button[data-variant='icon'] {
    background-color: var(--color-primary-5);
    border: none;
    color: var(--color-primary-12);
    height: 2.5rem;
    width: 2.5rem;
    padding: 0;
    border-radius: var(--radius-full);
}

.button[data-variant='icon']:hover {
    background-color: var(--color-primary-6);
}

.button[data-size='xs'] {
    font-size: var(--font-size-xs);
    padding: 0.55rem 0.95rem;
}

.button[data-size='sm'] {
    font-size: var(--font-size-sm);
    padding: 0.688rem 1.125rem;
}

.button[data-size='lg'] {
    font-size: var(--font-size-lg);
    padding: 0.875rem 1.5rem;
    height: 3rem;
}