@using Pawesome.Models.ViewModels
@{
    ViewData["Title"] = "Home Page";
    
    @if(User.Identity?.IsAuthenticated == true)
    {

    }
}

<main role="main">
    <div class="home-page">
        <div>
            <div class="pat-background"></div>
            <div class="pat-background2"></div>
            <div class="header">
                <h1>Trouver le Petsitter parfait <br/>
                    pour votre animal,<br/>
                    de compagnie !
                </h1>
                <p>
                    Réserver facilement des services de garde <br/>
                    d’animaux fiable et sécurisés
                </p>
            </div>

            <div class="research-bar">
                <input type="text" class="research-bar-date-start" placeholder="Date de début"/>
                <span class="tiny-separator"></span>
                <input type="text" placeholder="Date de fin"/>
                <span class="tiny-separator"></span>
                <input type="text" placeholder="Lieu"/>
                <span class="tiny-separator"></span>
                <input type="text" placeholder="Type d'animal"/>

                <button class="research-button" type="button">
                    <img alt="Rechercher" class="icon" src="svg/lucide/search.svg"/>
                </button>
            </div>

            <div class="home-page-img">
                <img alt="woman-sitting" src="images/casual-life-3d-young-woman-sitting-on-ground-and-petting-dog.png"/>
            </div>
        </div>
        @* Container 1 / Recherche de petsitting *@
        <div class="home-page-container">
            <div class="container-paragraph container-l-10">
                <h1>
                    Leur bien-être, votre <br/>
                    tranquillité.
                </h1>
                <p>
                    Nous prenons soin de vos animaux avec attention, douceur et fiabilité. Confiance et sérénité garanties, même en votre absence.
                </p>
                <p>
                    Parce qu’ils méritent le meilleur, à chaque instant
                </p>
                <button type="button" class="home-page-submission">Rechercher un pet sitting <img alt="Rechercher" class="icon icon-button-search-l" src="svg/lucide/arrow-right.svg"/></button>
            </div>
            <div class="container-img container-r-4">
                <img alt="dog" src="images/3d-casual-life-young-man-sitting-in-armchair-with-cat-next-to-him.png"/>
            </div>
        </div>

        @* Container 2 / Défilement des fausses annonces *@
        @model List<PetCartViewModel>
        <div class="home-page-cards-container">
            <h1>Les Bestioles Qui Cartonnent</h1>
            <div class="containers pet-cards-flex-container">
                @foreach (var pet in Model)
                {
                    <partial name="_PetCardPartial" model="pet"/>
                }
            </div>
            <button type="button" class="home-page-submission">Voir toute les annonce <img alt="Rechercher" class="icon icon-button-search-l" src="svg/lucide/arrow-right.svg"/></button>

        </div>
        
        @* Container 3 / Recherche de pet sitter *@
        <div class="home-page-container">
            <div class="container-img container-l-10">
                <img alt="dog" src="images/casual-life-3d-man-playing-with-dog-on-the-couch.png"/>
            </div>
            <div class="container-paragraph container-r-10">
                <h1>
                    Leur bien-être, votre <br/>
                    tranquillité.
                </h1>
                <p>
                    Nous prenons soin de vos animaux avec attention, douceur et fiabilité. Confiance et sérénité garanties, même en votre absence.
                </p>
                <p>
                    Parce qu’ils méritent le meilleur, à chaque instant
                </p>
                <button type="button" class="home-page-submission"> <img alt="Rechercher" class="icon icon-button-search-r" src="svg/lucide/arrow-right.svg"/> Recherche d’un pet sitter </button>
            </div>
        </div>
        
        @* Container 4 / Recherche de pet sitter *@
        @*@model CommentCardLandingViewModel*@
        
        <section class="testimonial-section">
            <h1>Ils ont trouvé leur bonheur</h1>
            <div class="testimonials">
                <div class="testimonial">
                    <div class="testimonial-container">
                        <img alt="mini-profile" src="images/persona/guys_1.jpg"/>
                        <div class="testimonial-name">
                            <span>Lucas Bernard</span>
                            <p>il y a 1 semaine</p>
                        </div>
                    </div>
                    <div class="stars-container">
                        @{
                            for (int i = 0; i < 5; i++)
                            {
                                <img alt="star" class="star" src="svg/lucide/star.svg"/>
                            }
                        }
                    </div>
                    <p>Service exceptionnel ! Mon chien Rex était aux anges. Personnel très attentionné, je recommande à 100%.</p>
                </div>
                <div class="testimonial">
                    <div class="testimonial-container">
                        <img alt="mini-profile" src="images/persona/girl_1.jpg"/>
                        <div class="testimonial-name">
                            <span>Emma Dufour</span>
                            <p>il y a 3 jours</p>
                        </div>
                    </div>
                    <div class="stars-container">
                        @{
                            for (int i = 0; i < 4; i++)
                            {
                                <img alt="star" class="star" src="svg/lucide/star.svg"/>
                            }
                        }
                    </div>
                    <p>Très bonne expérience ! Juste un petit délai à l'arrivée, sinon tout était parfait pour mon lapinou.</p>
                </div>
                <div class="testimonial">
                    <div class="testimonial-container">
                        <img alt="mini-profile" src="images/persona/guys_2.jpg"/>
                        <div class="testimonial-name">
                            <span>Antoine Girard</span>
                            <p>il y a 1 mois</p>
                        </div>
                    </div>
                    <div class="stars-container">
                        @{
                            for (int i = 0; i < 3; i++)
                            {
                                <img alt="star" class="star" src="svg/lucide/star.svg"/>
                            }
                        }
                    </div>
                    <p>Bon accueil mais l'endroit était un peu bruyant pour mon chien sensible. Expérience mitigée.</p>
                </div>
                <div class="testimonial">
                    <div class="testimonial-container">
                        <img alt="mini-profile" src="images/persona/girl_2.jpg"/>
                        <div class="testimonial-name">
                            <span>Claire Dupont</span>
                            <p>il y a 3 mois</p>
                        </div>
                    </div>
                    <div class="stars-container">
                        @{
                            for (int i = 0; i < 2; i++)
                            {
                                <img alt="star" class="star" src="svg/lucide/star.svg"/>
                            }
                        }
                    </div>
                    <p>Le service était correct, mais mon chat semblait stressé après son séjour. Peut mieux faire.</p>
                </div>
                <div class="testimonial">
                    <div class="testimonial-container">
                        <img alt="mini-profile" src="images/persona/guys_3.jpg"/>
                        <div class="testimonial-name">
                            <span>Kevin Morel</span>
                            <p>il y a 5 mois</p>
                        </div>
                    </div>
                    <div class="stars-container">
                        @{
                            for (int i = 0; i < 1; i++)
                            {
                                <img alt="star" class="star" src="svg/lucide/star.svg"/>
                            }
                        }
                    </div>
                    <p>Très déçu. Mon chien n'a pas reçu les soins promis. Je ne reviendrai pas.</p>
                </div>
            </div>
        </section>


        @* Container 5 / Recherche de pet sitter *@
        <div class="home-page-container-map">
            <div class="container-left">
                <div class="map-container">
                    
                </div>
            </div>
            <div class="container-right">
                <div class="container-right-paragraph">
                    <h1>
                        Plein d’animaux attendent d’être aimés autour de vous !
                    </h1>
                    <p>
                        Offrez-leur un foyer rempli de tendresse et recevez en retour un amour inconditionnel.
                    </p>

                    <button type="button" class="home-page-submission"> Cherchez autour de vous<img alt="Rechercher" class="icon icon-button-search-l" src="svg/lucide/radar.svg"/></button>
                </div>
                <div class="container-img container-l-4">
                    <img alt="dog" src="images/casual-life-3d-cat-in-box.png"/>
                </div>
            </div>
        </div>
    </div>
</main>
