@{
    ViewData["Title"] = "Home Page";
}

<main role="main">
    <div class="home-page">
        <div class="header">
            <h1 class="test">120 Ped-Sitting Trouver</h1>
            <div class="research-bar">
                <input type="text" placeholder="Date de début"/>
                    <span class="tiny-separator"></span>
                <input type="text" placeholder="Date de fin"/>
                    <span class="tiny-separator"></span>
                <input type="text" placeholder="Lieu"/>
                    <span class="tiny-separator"></span>
                <input type="text" placeholder="Type d'animal"/>
                
                <button class="research-button">Rechercher</button>
            </div>
        </div>
    </div>
</main>
