main {
    margin-bottom: auto;
}   

.home-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100vw;
    height: 100%;
    padding: 0 0 var(--space-12) 0;
    background-color: var(--color-primary-3);
    gap: 12rem;
}

.pat-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("svg/pat-top.svg");
    background-repeat: no-repeat;
    background-position: right 0 top 40rem;
    background-size: auto;
    z-index: 5;
    pointer-events: none;
    mask-image: linear-gradient(to right, rgba(246,238,231,0), rgba(246,238,231,0) 60%, rgb(246, 238, 231) 90%, rgb(246, 238, 231));
    clip-path: inset(0 0 96.875rem 0);
}

.pat-background2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("svg/pat-down.svg");
    background-repeat: no-repeat;
    background-position: left 2rem top 175rem;
    background-size: auto;
    z-index: 5;
    pointer-events: none;
    clip-path: inset(0 0 96.875rem 0);
}

/* ====== Section : Header ====== */

.header {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: var(--space-12) 0 var(--space-10);
    border-radius: var(--radius-2xl);
}

.header h1 {
    color: var(--color-primary-12);
    font-size: var(--font-size-6xl);
    font-weight: var(--font-weight-bold);
    text-align: center;
    line-height: initial;
}

.header p {
    color: var(--color-primary-12);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-regular);
    text-align: center;
}

/* ====== Section : Search bar ====== */
.research-bar {
    display: flex;
    padding: 0 var(--space-2) 0 var(--space-2);
    width: 850px;
    height: 64px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: var(--radius-full);
    background-color: var(--color-primary-1);
    filter: drop-shadow(0px 4px 6px #00000030);
}

.research-bar-date-start {
 margin-left: var(--space-2);   
}

.research-bar input[type=text]::placeholder {
    color: var(--color-primary-12) !important;
}

.research-bar input[type=text]:focus-visible {
    border-color: var(--color-primary-9) !important;
    box-shadow: 0 0 0 2px transparent !important;
    border-radius: 0px;
    outline: none;
}

.research-bar input[type="text"] {
    border: none !important;
}

.research-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    min-width: 44px;
    min-height: 44px;
    border-radius: var(--radius-full);
    background-color: var(--color-primary-12);
    border: none;
    cursor: pointer;
    margin-right: 4px;
}

.icon {
    width: 24px;
    height: 24px;
    stroke: var(--color-primary-1);
}

.tiny-separator {
    width: 1px;
    border: 1px solid var(--color-primary-3);
    height: 30px;
    border-radius: 10px;
    background-color: var(--color-primary-10);
    margin: 0 var(--space-2);
}

/* ====== Section : Image landing ====== */
.home-page-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-height: 450px;
    margin-top: var(--space-8);
}

.home-page-img img {
    width: 100%;
    max-width: 500px;
    transform: translateX(-70%);
    object-fit: cover;
    object-position: center;
    border-radius: var(--radius-2xl);
}

/* ====== Section : Container 1 ====== */

.home-page-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1800px;
    height: 675px;
    min-height: 675px;
    margin: var(--space-4) var(--space-14) var(--space-4) var(--space-14);
    background-color: var(--color-primary-5);
    border-radius: var(--radius-2xl);
}

.container-paragraph {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    width: 30%;
    gap: 17px;
}

.container-paragraph h1 {
    color: var(--color-primary-12);
    font-size: var(--font-size-3xl);
    font-weight: var(--font-weight-bold);
}

.container-paragraph p {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
    line-height: var(--space-6);
    color: var(--color-primary-11);
}

.container-img {
    position: relative;
    z-index: 6;
}

.container-img img {
    width: 100%;
    max-width: 800px;
    transform: translateY(5%);
    object-fit: cover;
    object-position: center;
    border-radius: var(--radius-2xl);
}

.container-l-10 {
    margin-left: 10rem;
}

.container-l-4 {
    margin-left: 4rem;
}

.container-r-10 {
    margin-right: 10rem;
}

.container-r-4 {
    margin-right: 4rem;
}

.home-page-submission {
    display: inline-flex;
    align-items: center;
    background-color: #3c312c;
    color: white;
    border: none;
    box-shadow: none;
    padding: 10px 20px;
    border-radius: 999px;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    text-decoration: none;
    transition: background-color 0.3s ease;
    transition: transform 0.1s ease;
    margin-top: 15px;
    cursor: pointer;
}

.home-page-submission:hover {
    background-color: #4a3f3a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
}


.icon-button-search-l {
    margin-left: 5px;
}

.icon-button-search-r {
    margin-right: 5px;
}

/* ====== Section : Container 2 ====== */

.home-page-cards-container{
    max-width: 1800px;
    text-align: center;
}

.containers {
    position: relative;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    margin: var(--space-8) 0 var(--space-8) 0;
    border-radius: var(--radius-2xl);
    overflow: hidden;
}

.pet-cards-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-4);
}

/* Gestion responsive des cartes */
@media (max-width: 1200px) {
    .pet-cards-flex-container > * {
        flex-basis: calc(33.333% - var(--space-4));
    }
}

@media (max-width: 900px) {
    .pet-cards-flex-container > * {
        flex-basis: calc(50% - var(--space-4));
    }
}

@media (max-width: 600px) {
    .pet-cards-flex-container > * {
        flex-basis: 100%;
    }
}

/* ====== Section : Container 4 ====== */

.testimonial {
    flex: 1;
    min-width: 300px;
    max-width: 340px;
    border-radius: 20px;
    padding: var(--space-4);
    font-size: 1rem;
    color: var(--color-primary-12);
    background-color: var(--color-primary-5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Gestion responsive des témoignages */
@media (max-width: 1200px) {
    .testimonial {
        flex-basis: calc(33.333% - var(--space-3));
    }
}

@media (max-width: 900px) {
    .testimonial {
        flex-basis: calc(33.333% - var(--space-3));
    }
}

@media (max-width: 600px) {
    .testimonial {
        width: 90%;
    }
}

.testimonial span {
    display: block;
    margin-top: 0.5rem;
    font-weight: bold;
    color: var(--color-primary-12);
}

.testimonial p {
    text-align: justify;
}

.testimonial-container {
    display: flex;
    flex-direction: row;
}

.testimonial-container img {
    position: relative;
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    margin-left: var(--space-2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-radius: var(--radius-full);
}

.testimonial-name {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 0 0 var(--space-4);
}

.stars-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    margin: var(--space-2) 0 var(--space-2) 0;
    margin-left: var(--space-4);
    gap: 0.5rem;

}

.testimonial-section {
    text-align: center;
    padding: 3rem 1rem;
    margin: 3rem 0;
}

.testimonial-section h1 {
    margin-bottom: var(--space-8);
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    max-width: 1800px;
    height: 240px;
    margin: var(--space-4) var(--space-14) var(--space-4) var(--space-14);
    overflow: hidden;
}

/* Gestion responsive des témoignages */
@media (max-width: 1200px) {
    .testimonials {
        gap: var(--space-3);
    }
}

@media (max-width: 900px) {
    .testimonials {
        gap: var(--space-3);
    }
}

@media (max-width: 600px) {
    .testimonials {
        margin: var(--space-4) var(--space-4) var(--space-4) var(--space-4);
    }
}


/* ====== Section : Container 5 ====== */

.container-left {
    width: 40vw;
    height: 100%;
}

.map-container {
    position: relative;
    width: calc(100% - var(--space-8) * 2);
    height: calc(100% - var(--space-8) * 2);
    margin: var(--space-8) auto;
    border-radius: var(--radius-2xl);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #94ACAA;
    padding: var(--space-4);
    box-sizing: border-box;
}

.container-right {
    width: 40vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-right-paragraph {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    width: 50%;
    gap: 17px;
    z-index: 9;
}

.home-page-container-map {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1800px;
    height: 900px;
    min-height: 900px;
    margin: var(--space-4) var(--space-14) var(--space-4) var(--space-14);
    background-color: var(--color-primary-5);
    border-radius: var(--radius-2xl);
}

.home-page-container-map .container-img img {
    width: 100%;
    max-width: 500px;
    transform: translateY(-1%);
    object-fit: cover;
    object-position: center;
    border-radius: var(--radius-2xl);
    z-index: 10;
}



