main {
    margin-bottom: auto;
}

.home-page {
    display: flex;
    height: 100vh;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
    background-color: var(--color-primary-3);
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
    max-width: 1200px;
    margin: var(--space-4) 0;
    background-color: var(--color-primary-5);
    border-radius: var(--radius-2xl);
}

.header h1 {
    color: var(--color-primary-1);
    font-size: var(--font-size-6xl);
    font-weight: var(--font-weight-bold);
}

.research-bar {
    position: absolute;
    margin-bottom: -12rem;
    padding: 0 var(--space-2) 0 var(--space-2);
    width: 850px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: var(--radius-full);
    background-color: var(--color-primary-1);
}

.research-bar input[type=text]::placeholder {
    color: var(--color-primary-12) !important;
}

.research-bar input[type=text]:focus-visible {
    border-color: var(--color-primary-9) !important;
    box-shadow: 0 0 0 2px transparent !important;
    border-radius: 0px;
    outline: none;
}

.tiny-separator {
    width: 1px;
    border: 1px solid var(--color-primary-3);
    height: 30px;
    border-radius: 10px;
    background-color: var(--color-primary-10);
    margin: 0 var(--space-2);
}

.research-bar input[type="text"] {
    border: none !important;
}